@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme{
  --font-poppins: "poppins", sans-serif;
}

@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin; /* Firefox */
  }

  .scrollbar-none {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }

  .scrollbar-custom::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 0.5);
    border-radius: 9999px;
  }

  .scrollbar-custom::-webkit-scrollbar-track {
    background-color: transparent;
  }
}